<div class="login">
  <%= form_for(User.new, html: {class: "form-signin"})  do |f| %>
    <div class="app-title">
      <h1>Please sign up</h1>
    </div>
    <div class="login-screen">
      <div class="login-form">
        <div class="control-group">
          <%= f.text_field 'email', class: 'login-field', placeholder: 'Your E-mail'%>
        </div>
        <div class="control-group">
          <%= f.text_field 'name', class: 'login-field', placeholder: 'Name' %>
        </div>
        <div class="control-group">
          <%= f.password_field 'password', class: 'login-field', placeholder: 'Password' %>
        </div>
        <div class="control-group">
          <%= f.password_field 'password_confirmation', class: 'login-field', placeholder: 'Password Confirmation' %>
        </div>
        <div class="control-group">
          <%= f.submit 'Sign Up', class: 'btn btn-primary btn-large btn-block' %>
        </div>
      </div>
    </div>
  <% end %>
</div>
