<div class="row create-event">
  <div class="col-md-4 col-md-offset-4">
    <%= form_for(@ticket,url: create_ticket_path, html: {class: "new-event"})  do |f| %>
        <div class="form-group">
          <%= f.text_field 'name', class: 'form-control', placeholder: 'Ticket Name'%>
        </div>
        <div class="form-group">
          <%= f.text_field 'price', class: 'form-control', placeholder: 'Price'%>
        </div>
        <div class="form-group">
          <%= f.text_field 'max_quantity', class: 'form-control', placeholder: 'Max Quantity'%>
        </div>
        <div class="form-group">
          <%= f.submit 'Create', class: 'btn btn-block btn-success' %>
          <%= link_to 'Cancel', root_path , class: "btn btn-block btn-danger", style: 'width: 100%;' %>
        </div>
        <%= f.hidden_field :event_id, :value => @event_id%>
    <% end %>
  </div>
</div>